<div class='col-lg-9'>
  <h2>Users</h2>
  <table class='table table-hover table-inverse'>
    <thead>
    <tr>
      <th>Image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.png"%>
        </td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show',user  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>